<?xml version="1.0" ?>
<model>
    <name>Trafficsign_00003</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
   
      <author>
       <name>Amirmohammad Zarif</name>
       <email>a.zarifshahsavan@gmail.com</email>
      </author>
    
    <description>Traffic Signs model</description>
</model>

